<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/header::fragment-header}"></div>
</head>
<body>
<div th:replace="~{fragments/nav::fragment-nav}"></div>
<div class="content">
    <div class="container mt-3">
        <h1>Car Board Page!</h1>
        <hr/>
<!--        <table class="table">-->
<!--            <tr>-->
<!--                <th>id</th>-->
<!--                <th>title</th>-->
<!--                <th>owner</th>-->
<!--                <th>model</th>-->
<!--                <th>price</th>-->
<!--                <th>distance</th>-->
<!--            </tr>-->
<!--            <tr th:each="car:${cars}">-->
<!--               <td> <a th:href="@{/car/{id}(id=${car.getId()})}" th:text="${car.getId()}"></a></td>-->
<!--                <td th:text="${car.getName()}"></td>-->
<!--                <td th:text="${car.getLoginId()}"></td>-->
<!--                <td th:text="${car.getModel()}"></td>-->
<!--                <td th:text="${car.getPrice()}"></td>-->
<!--                <td th:text="${car.getDistance()}"></td>-->
<!--            </tr>-->
<!--        </table>-->

            <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
                <div th:each="car:${cars}">
                    <a th:href="@{/car/{id}(id=${car.getId()})}">
                        <div class="card h-100">
                            <img th:src="|/images/${car.getSavedFileName()}|" th:alt="${car.getOriginFileName()}" th:style="'height: 300px'" class="card-img-top">
                            <div class="card-body text-dark">
                                <h5 class="card-title" th:text="${car.getName()}">Card title</h5>
                                <p class="card-text" th:text="${car.getModel()}"> content </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="text-end">
                <a id="save" href="/car-register-form" class="btn btn-primary">신규등록</a>
            </div>

<!--        Pagination -->

        <th:block th:with="maxPage=10, start=${(page.number / maxPage ) * maxPage + 1},
        end=(${(page.totalPages == 0) ? 1:(start+(maxPage - 1) < page.totalPages? start + (maxPage -1) : page.totalPages)})">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center mt-3 text-dark">
                    <li th:if="${start > 1}" class="page-item">
                        <a class="page-link" th:href="@{/car(page=${start-maxPage}, keyword=${keyword})}" id="Previous" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:each="p: ${#numbers.sequence(start, end)}">
                        <a th:href="@{/car(page=${p-1}, keyword=${keyword})}" class="page-link" th:text="${p}">0</a>
                    </li>
                    <li class="page-item" th:if="${end < page.totalPages}">
                        <a class="page-link" th:href="@{/car(page=${start+maxPage}, keyword=${keyword})}" id="Next" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </th:block>



    </div>
</div>
<footer th:replace="~{fragments/footer::fragment-footer}"></footer>
</body>
</html>